body:before {
	background: url(bg.svg), radial-gradient(ellipse at bottom left, #222, transparent), radial-gradient(ellipse at bottom right, #222, transparent), black;
	background-size: cover;
	background-position: center center;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: "";
	z-index: -1;
}

body {
    font-family: 'Noto Sans', sans-serif;
}


#timer {
	text-align: center;
}

#timer svg {
	width: 110px;
	height: 110px;
	fill: #f6fffe;
}

#timer svg text {
	text-anchor: middle;
}

#timer svg .value {
	font-size: 1.5em;
}

#timer svg .unit {
	font-size: .75em;
}

#timer svg circle {
	fill: none;
}

#timer svg .progress {
	stroke: #f6fffe;
	stroke-width: 5px;
}

#timer svg .background {
	stroke: #bbb;
	stroke-width: 2px;
}