body:before {
	background: linear-gradient(90deg, #b45b64, #b14e58 50%, #b97072);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: "";
	z-index: -2;
}

canvas {
	position: fixed;
	z-index: -1;
}

div.ba {
	background-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #000000;
}

.sponsors {
	width: calc(100% + 4rem);
	position: relative;
	right: 2rem;
	display: flex;
	padding: 2rem 0 3rem;
	justify-content: space-evenly;
}

.sponsor {
	width: 30%;
	text-align: center;
}

#timer {
	text-align: center;
}

#timer svg {
	width: 110px;
	height: 110px;
	fill: #f6fffe;
}

#timer svg text {
	text-anchor: middle;
}

#timer svg .value {
	font-size: 1.5em;
}

#timer svg .unit {
	font-size: .75em;
}

#timer svg circle {
	fill: none;
}

#timer svg .progress {
	stroke: #f6fffe;
	stroke-width: 5px;
}

#timer svg .background {
	stroke: #bbb;
	stroke-width: 2px;
}

a {
	color: #e2ca9b;
}
