body:before {
	background-color: #004d40;
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%22-1%20-1%2033%2033%22%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16%2032%20A16%2016%200%200%200%200%2016%20A16%2016%200%200%201%2032%2016%20A16%2016%200%200%200%2016%2032%22%20stroke%3D%22%23ffffff08%22%20stroke-width%3D%222%22%20fill%3D%22%2300000000%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: "";
	z-index: -1;
}

div.ba {
	background-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #000000;
}

.sponsors {
	width: calc(100% + 4rem);
	position: relative;
	right: 2rem;
	display: flex;
	padding: 2rem 0 3rem;
	justify-content: space-evenly;
	space-between: 1rem;
}

.sponsor {
	width: 30%;
	text-align: center;
}

#timer {
	text-align: center;
}

#timer svg {
	width: 110px;
	height: 110px;
	fill: #f6fffe;
}

#timer svg text {
	text-anchor: middle;
}

#timer svg .value {
	font-size: 1.5em;
}

#timer svg .unit {
	font-size: .75em;
}

#timer svg circle {
	fill: none;
}

#timer svg .progress {
	stroke: #f6fffe;
	stroke-width: 5px;
}

#timer svg .background {
	stroke: #bbb;
	stroke-width: 2px;
}

a {
	color: #26c6da;
}
